---
layout: default
---

<div class="nav-bar visible-xs text-center">
  <a href="{{ site.baseurl }}/products">Projects</a> | 
  <a href="{{ site.baseurl }}/support">Support</a> | 
  <a href="{{ site.baseurl }}/about">About</a> | 
  <a href="{{ site.baseurl }}/company/presskit">Press</a>
</div>

<p>&nbsp;</p>

<div class="jumbotron" style="background-image: url('{{ site.data.products.2048-3d-cars.card.img }}'); background-size:cover;">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><a class="btn btn-primary btn-lg" href="/2048-3d-cars" role="button">Learn more</a></p>
</div>

<p>&nbsp;</p>

<div class="container">

  <div class="row">
    <strong>Games</strong> &nbsp; <a href="/products">Display all projects &gt;</a>
    <p>&nbsp;</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      {% include tpl-card-mini.html card=site.data.products.2048-3d-bikes.card %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      {% include tpl-card-mini.html card=site.data.products.2048-3d-cars.card %}
    </div>
  </div>

</div>
