---
layout: default
title: Atalantoo
lead: Welcome!
---

<div class="nav-bar visible-xs text-center">
  <a href="{{ site.baseurl }}/products">Products</a> | 
  <a href="{{ site.baseurl }}/support">Support</a> | 
  <a href="{{ site.baseurl }}/about">About</a>
</div>

<div>
  <h2>Welcome!</h2>
  <p>{{ site.description }}</p>
</div>
<!--
<div>
  <h1 class="page-header">News</h1>
  <p>Coming soon...</p>
</div>
-->
<div>
  <h1 class="page-header">Products</h1>
  <div class="row">
	<div class="col-sm-12 col-md-6">
		{% include tpl-card-mini.html 
		  title=site.products.chronoquiz.title 
		  desc=site.products.chronoquiz.desc 
		  img='/assets/img/products/workinprogress.jpg' 
		  ico='/assets/img/products/workinprogress-icon.jpg' 
		  href='/products/chronoquiz' 
		  %}
	</div>
	<div class="col-sm-6 col-md-4">
		{% include tpl-card-mini.html 
		  title=site.products.dinoblast.title 
		  desc=site.products.dinoblast.desc 
		  img='/assets/img/products/workinprogress.jpg' 
		  ico='/assets/img/products/workinprogress-icon.jpg' 
		  href='/products/dinoblast' 
		  %}
	</div>
	<div class="col-sm-6 col-md-4">
		{% include tpl-card-mini.html 
		  title=site.products.museum.title 
		  desc=site.products.museum.desc 
		  img='/assets/img/products/workinprogress.jpg' 
		  ico='/assets/img/products/workinprogress-icon.jpg' 
		  href='/products/museum' 
		  %}
	</div>
  </div>
</div>
