<footer class="site-footer">
  <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ site.baseurl }}/">Home</a>
        </li> 
        <li>
          <a href="{{ site.baseurl }}/products">Products</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/support">Support</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/about">About</a>
        </li>
      </ul>
  </div>
  <div class="container">
      <ul class="nav navbar-nav site-social">
        {% include links-social.html %}
        {% include links-media.html %}
        {% include links-store.html %}
        {% include links-other.html %}
      </ul>
  </div>
  <div class="container site-copyright">
      <p>{{ site.copyright }}</p>
  </div>
</footer>