<footer>
  <nav class="navbar navbar-fixed-bottom navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/support">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/company/presskit/">Press</a>
      </li>
    </ul>
    <form class="form-inline">
      {% include links-social.html %}
      {% include links-media.html %}
      {% include links-store.html %}
      {% include links-other.html %}
    </form>
    <div class="container-fluid p-3 p-md-5 ">
        <p class="copyright-text">{{ site.copyright }}</p>
    </div>
  </nav>
</footer>