<a target="_blank" class="site-fab site-youtube" href="{{ site.youtube }}">{{ site.youtube }}</a>

<a target="_blank" class="site-fab site-reddit" href="{{ site.reddit }}">{{ site.reddit }}</a>
<a target="_blank" class="site-fab site-tumblr" href="{{ site.tumblr }}">{{ site.tumblr }}</a>

<a target="_blank" class="site-fab site-googleplus" href="{{ site.googleplus }}">{{ site.googleplus }}</a>
<a target="_blank" class="site-fab site-flickr" href="{{ site.flickr }}">{{ site.flickr }}</a>

<a target="_blank" class="site-fab site-imgur" href="{{ site.imgur }}">{{ site.imgur }}</a>

<a target="_blank" class="site-fab site-github" href="{{ site.github }}">{{ site.github }}</a>
<a target="_blank" class="site-fab site-linkedin" href="{{ site.linkedin }}">{{ site.linkedin }}</a>

<a target="_blank" class="site-fab site-unity" href="{{ site.unity }}">{{ site.unity }}</a>
<a target="_blank" class="site-fab site-indiedb" href="{{ site.indiedb }}">{{ site.indiedb }}</a>
<a target="_blank" class="site-fab site-appszoom" href="{{ site.appszoom }}">{{ site.appszoom }}</a>
