<li><a target="_blank" class="site-github" href="{{ site.github }}">{{ site.github }}</a></li>
<li><a target="_blank" class="site-tumblr" href="{{ site.tumblr }}">{{ site.tumblr }}</a></li>
<li><a target="_blank" class="site-flickr" href="{{ site.flickr }}">{{ site.flickr }}</a></li>
<li><a target="_blank" class="site-linkedin" href="{{ site.linkedin }}">{{ site.linkedin }}</a></li>
<li><a target="_blank" class="site-unity" href="{{ site.unity }}">{{ site.unity }}</a></li>
<li><a target="_blank" class="site-youtube" href="{{ site.youtube }}">{{ site.youtube }}</a></li>
<li><a target="_blank" class="site-indiedb" href="{{ site.indiedb }}">{{ site.indiedb }}</a></li>
<li><a target="_blank" class="site-appszoom" href="{{ site.appszoom }}">{{ site.appszoom }}</a></li>