<a href="{{ include.presskit.factsheet.site }}/presskit">Presskit</a>

    <div id="site-store">
{% for i in include.presskit.stores %}
		<a target="_blank" class="site-{{ i.store }}" href="{{ i.href }}"></a>
{% endfor %}
	</div>


	<div id="banner" class="">
	    <img src="{{ include.presskit.header }}"/>
	</div>

{% if include.presskit.video != "" %}
<div id="banner-video">
	<br/>
	<div class="embed-responsive embed-responsive-16by9">
	  <div id="player"></div>
	</div>
    <script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          videoId: '{{ include.presskit.video.id }}',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
         }
        });
      }

      var done = false;
      function onPlayerReady(event) {
          player.mute();
          player.playVideo();
          done = false;
      }
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED && !done) {
          done = true;
          player.mute();
          player.playVideo();
          done = false;
        }
      }
    </script>
</div>
{% endif %}

		<div>
				<h2>Description</h2>
				<p>{{ include.presskit.description }}</p>
				<p>{{ include.presskit.history }}</p>
				<ul>
{% for i in include.presskit.features %}
		    		<li>{{ i }}</li>
{% endfor %}
				</ul>
		</div>

<hr/>

			<div>
	{% for i in include.presskit.images %}
			    <a target="_blank" href="{{ i.src }}">
	    			<img class="img-rounded" 
	    			    style="width:300px; margin:5px;"
	    				src="{{ i.src }}"/>
	    		</a>
	{% endfor %}
			</div>

<hr/>

<div id="videos" class="row">
{% for i in include.presskit.videos %}
	<div class="col-md-4">
		<div class="embed-responsive embed-responsive-4by3">
		  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ i.id }}?rel=0"></iframe>
		</div>
	</div>
{% endfor %}
</div>


<hr/>

		<div>
	{% for i in include.presskit.links %}
			<p>
				<strong>{{ i.title}}</strong> <br/>
			    {{ i.desc }} <a href="{{ i.href }}">{{ i.title }}</a>.
			</p>
	{% endfor %}
		</div>
