<div class="site-presskit">
<div id="navigation" class="col-md-3">
	<h1>{{ include.presskit.title }} Presskit</h1>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#factsheet">Factsheet</a></li>
		<li><a href="#description">Description</a></li>
		<li><a href="#history">History</a></li>
		<li><a href="#projects">Projects</a></li>
		<li><a href="#videos">Videos</a></li>
		<li><a href="#images">Images</a></li>
		<li><a href="#logo">Logo and Icon</a></li>
		<li><a href="#links">Additional Links</a></li>
		<li><a href="#team">Team</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
</div>

<div class="col-md-9">
	<div id="banner" class="">
	    <img src="{{ include.presskit.header }}"/>
	</div>
	<div class="row">

		<div id="factsheet" class="col-md-4">
			<h2>Factsheet</h2>
			<div>
				<strong>Developer</strong>
				<p><a href="http://atalantoo.com/">Atalantoo</a></p>
				<p>Based in Paris, France</p>
			</div>
			<div>
				<strong>Release date:</strong>
				<p>{{ include.presskit.factsheet.release }}</p>
			</div>
			<div>
				<strong>Platforms:</strong>
				<p>{{ include.presskit.factsheet.platforms }}</p>
			</div>
			<div>
				<strong>Website:</strong>
				<p><a href="{{ include.presskit.factsheet.site }}">{{ include.presskit.factsheet.site }}</a></p>
			</div>
			<div>
				<strong>Regular Price:</strong>
				<p>{{ include.presskit.factsheet.price }}</p>
			</div>
		</div>

		<div class="col-md-8">

			<div id="description" class="row">
				<h2>Description</h2>
				<p>{{ include.presskit.description }}</p>
			</div>

			<div id="history" class="row">
				<h2>History</h2>
				<p>{{ include.presskit.history }}</p>
			</div>


			<div id="features" class="row">
				<h2>Features</h2>
				<ul>
{% for i in include.presskit.features %}
		    		<li>{{ i }}</li>
{% endfor %}
				</ul>
			</div>

		</div>
	</div>
	<hr/>
	<div class="row col-md-12">

		<div id="videos">
			<h2>Videos</h2>
	{% for i in include.presskit.videos %}
			<p> <strong>{{ i.title }}</strong> <a href="{{ i.src }}" target="_blank">YouTube</a>
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="{{ i.src }}"></iframe>
				</div>
			</p>
	{% endfor %}
		</div>

		<hr/>

		<div id="images">
			<h2>Images</h2>
			<div class="row">
	{% for i in include.presskit.images %}
				<div class="col-md-2">
		    		<a target="_blank" href="{{ i.src }}"><img class="product-image" src="{{ i.src }}"/></a>
				</div>
	{% endfor %}
			</div>
		</div>

		<hr/>

		<div id="logo">
			<h2>Logo and Icon</h2>
			<p>
				<img src="{{ include.presskit.logo }}"/>
			</p>
		</div>

		<hr/>

		<div id="links">
			<h2>Additional Links</h2>
	{% for i in include.presskit.links %}
			<p>
				<strong>{{ i.title}}</strong> <br/>
			    {{ i.desc }} <a href="{{ i.href }}">{{ i.title }}</a>.
			</p>
	{% endfor %}
		</div>

		<hr/>

		<div id="about">
			<h2>About</h2>
			<div>
				<strong>Boilerplate</strong><br/>
				<p>Gamers making games. When we're not playing games we're making them. Some say it's an addiction</p>
			</div>
			<div>
				<strong>More information</strong><br/>
				<p>More information on Atalantoo Games, our logo and relevant media are available <a href="http://atalantoo.com/company/presskit/">here</a>.</p>
			</div>
		</div>

		<hr/>

		<div class="row">
			<div id="team" class="col-md-6">
				<h2>Game Name Credits</h2>
				<div>
					<strong>Damien Fremont</strong> <br/>
					<p>Development, Art, Graphic, Design, Music</p>
				</div>
			</div>
			<div id="contact" class="col-md-6">
				<h2>Contact</h2>
				<div>
					<strong>Inquiries</strong> <br/>
					<a target="_blank" href="mailto:atalantoo+contact@gmail.com">atalantoo + contact @ gmail.com</a>
				</div>
				<div>
					<strong>Twitter</strong> <br/>
					<a target="_blank" href="https://twitter.com/atalantoo">twitter.com/atalantoo</a>
				</div>
				<div>
					<strong>Facebook</strong> <br/>
					<a target="_blank" href="https://www.facebook.com/atalantoo">facebook.com/atalantoo</a>
				</div>
			</div>
		</div>

		<hr/>

		<div>
			<p>presskit by Damien Fremont</p>
		</div>
	</div>
</div>
</div>