<div class="site-card site-card-big row">
	<div class="col-md-5">
		<a href="{{ include.card.href }}">
			<img class="img-rounded" src="{{ include.card.img }}">
		</a>
	</div>
	<div class="col-md-7">
	  	<h4>
	  		<a href="{{ include.card.href }}">
	  			<img class="img-rounded" src="{{ include.card.ico }}"> 
	  			{{ include.card.title }}
	  		</a>
	  	</h4>
	    <p>{{ include.card.desc }}</p>
	    <p> 
	    	<a class="btn btn-primary" href="{{ include.card.href }}">More &gt;</a>
{% for i in include.card.links %}
  			<a class="btn btn-default" href="{{ i.href }}">{{ i.title }}</a>
{% endfor %}
		</p>
	</div>
</div>