body  {
    color: #fff;
    background: url(/assets/img/site-bg2.jpg) no-repeat 50% 0 #002551;
    font-family: Helvetica,Arial,sans-serif;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/* NAV */

.site-nav {
    background: rgb(54, 25, 25); /* Fall-back */
    background: rgba(54, 25, 25, .5);
    margin-bottom: 0;
    border-bottom: 1px solid hsla(0,0%,100%,.15);
}
.site-nav .navbar-brand {
    padding: 0px;
}

.navbar-brand, 
.navbar-nav>li>a,
.nav-bar.visible-xs a,
.site-breadcrumb a {
	color: hsla(0,0%,100%,.8); 
    text-shadow: 1px 1px #2a2730;
}
.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-nav>.active>a {
    border-bottom: 3px solid #00aeff;
}
.navbar-toggle .icon-bar {
    background-color: #99979c;
}

/* HEADER */

.site-header {
	/*margin-bottom: 40px;*/
    font-size: 20px;
    border-bottom: 1px solid hsla(0,0%,100%,.15);
}
.site-header,
.site-masthead {
    color: #a34120;
    background: rgb(54, 25, 25); /* Fall-back */
    background: rgba(54, 25, 25, .5);
    position: relative;
    padding: 30px 0;
    text-align: center;
    text-shadow: 1px 1px #2a2730;

    color: #FFFFFF;
    font-size: 23px;
    font-weight: 300;
}
.site-header h1 {
	margin-top: 0;
    text-align: center;

    color: #FFFFFF;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .site-nav {   background-color: rgba(11,13,18,.95); }
    .site-nav .navbar-brand { position: absolute; top: 0; left: 35%; }
}
@media (min-width: 1200px) {
    .site-header h1 {  font-size: 70px;  }
    .site-masthead {  font-size: 35px;  }
}

/* FOOTER */

.site-footer {
    color: #99979c;
    background-color: #00214a;
	padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid hsla(0,0%,100%,.15);
}
.site-footer li {
    color: hsla(0,0%,100%,.7);
}

.site-footer .site-copyright  {
    color: hsla(0,0%,100%,.3);
}

.site-breadcrumb {
    background: none;
    background: transparent;
}

/* CUSTOM: CARD */

.site-card {
    border: 1px solid #eee;
    border-radius: 3px;
    color: #333;
    background-color: #eee;

}
.site-card h4 {
    font-weight: 700;
}
.site-card h4 img {
    width: 40px;
    height: 40px;
}
.site-card h4 a{
    color: #333;
}

.site-card-big {
    padding: 20px;
    margin: 20px 0;
}
.site-card-big img {
    width: 250px;
    height: 170px;
}

.site-card-mini {
    padding: 0px 15px 0px 15px;
    margin-bottom: 10px;
}
.site-card-mini img {
    width: 100%;
}

/* CUSTOM: SOCIAL */

#site-social li {
    float: left;
    width: 42px;
    height: 42px;
}
#site-social a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
}

#site-social li a {    border-radius: 50%;  border: solid 1px #2a2730; box-shadow: 2px 2px #2a2730;        }
#site-social .site-facebook {   background: url(/assets/img/social/icon-facebook.png) no-repeat center; background-size: 50px 50px;}
#site-social .site-twitter {    background: url(/assets/img/social/icon-twitter.png) no-repeat center; background-size: 50px 50px;}
#site-social .site-instagram {  background: url(/assets/img/social/icon-instagram.png) no-repeat center; background-size: 50px 50px;}
#site-social .site-googleplus { background: url(/assets/img/social/icon-googleplus.png) no-repeat center; background-size: 50px 50px;}
#site-social .site-linkedin {   background: url(/assets/img/social/icon-linkedin.png) no-repeat center; background-size: 50px 50px;}
#site-social .site-youtube {    background: url(/assets/img/social/icon-youtube.png) no-repeat center; background-size: 50px 50px;}
#site-social .site-windows {    background: url(/assets/img/social/icon-windows.png) no-repeat center; background-size: 50px 50px;}
#site-social .site-android    { background: url(/assets/img/social/icon-android.png) no-repeat center; background-size: 50px 50px;}
#site-social .site-ios        { background: url(/assets/img/social/icon-ios.png) no-repeat center; background-size: 50px 50px;}
#site-social .site-steam      { background: url(/assets/img/social/icon-steam.png) no-repeat center; background-size: 50px 50px;}

header #site-social li,
.site-support #site-social li {     margin: 5px 5px 0px 5px; }
footer #site-social li {            margin: 10px; }
footer #site-social {               margin-bottom: 20px; }

/* CUSTOM: PAGES */

.site-support #thumb,
.site-about #thumb, 
.site-products #thumb {
    width: 150px;
    height: 150px;
}

.site-team .site-member #avatar {
    width: 150px;
    height: 150px;
        margin-top: 10px;

}
.site-team .site-member .btn{
    margin-bottom: 3px;
}
