body  {
    color: #FFF;
}
body {
    background-size: 1500px;
    background-color: #002a54 !important;
    background-image: url(/assets/img/default-background.jpg) !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.site-masthead {
    font-size: 20px;
    border-bottom: 1px solid hsla(0,0%,100%,.15);
}
.site-masthead {
    color: #626262;
    background-color: #fffdf9;
    position: relative;
    padding: 30px 0;
    text-align: center;
    text-shadow: 1px 1px #c5c5c5;
    font-size: 23px;
    font-weight: 300;
}
.site-masthead h1 {
	margin-top: 0;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
@media (min-width: 1200px) {
    .site-masthead h1 {  font-size: 70px;  }
}

.breadcrumb {
    background-color: transparent !important;
    padding-left: 0px;
}
.breadcrumb-item.active {
    color: white !important;
}

.navbar {
    font-size: 20px;
    border-bottom: 1px solid hsla(0,0%,100%,.15);
}
.navbar-brand { 
    height: 50px;
    width: 150px;
    background: url(/assets/img/site-brand-inv.png) no-repeat center; background-size: 150px 50px;
}
@media (max-width: 767px) {
    .navbar-brand { position: absolute; top: 0; left: 30%; }
}

.presskit-container {
    color: #000;
    background-color: #fff;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.presskit-container h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: normal;
}
.presskit-container h2,
.presskit-container h3,
.presskit-container h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: normal;
}
.presskit-container #banner img,
.presskit-container #images img {
    width: 100%;
}
.presskit-container #logo img {
    width: 270px;
    height: 270px;
}

.site-fab {
    width: 42px;
    height: 42px;
    margin: 0 5px 0 5px;
    float: left;
    text-indent: -999em;
    border-radius: 50%;  
    border: solid 1px #2a2730; 
    box-shadow: 2px 2px #2a2730;        
}

.site-store {
    width: 196px;
    height: 64px;
}

footer .copyright-text  {
    color: hsla(0,0%,100%,.3);
}

body {
    min-height: 100vh; 
}
.flex-grow {
    flex: 1;
}

.site-fab.site-facebook {   background: url(/assets/img/social/icon-facebook.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-twitter {    background: url(/assets/img/social/icon-twitter.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-instagram {  background: url(/assets/img/social/icon-instagram.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-tumblr    {  background: url(/assets/img/social/icon-tumblr.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-googleplus { background: url(/assets/img/social/icon-googleplus.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-linkedin {   background: url(/assets/img/social/icon-linkedin.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-youtube {    background: url(/assets/img/social/icon-youtube.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-windows {    background: url(/assets/img/social/icon-windows.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-android    { background: url(/assets/img/social/icon-android.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-ios        { background: url(/assets/img/social/icon-ios.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-steam      { background: url(/assets/img/social/icon-steam.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-unity      { background: url(/assets/img/social/icon-unity.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-github     { background: url(/assets/img/social/icon-github.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-appszoom   { background: url(/assets/img/social/icon-appszoom.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-indiedb   { background: url(/assets/img/social/icon-indiedb.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-flickr   { background: url(/assets/img/social/icon-flickr.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-imgur   { background: url(/assets/img/social/icon-imgur.png) no-repeat center; background-size: 50px 50px;}
.site-fab.site-reddit   { background: url(/assets/img/social/icon-reddit.jpg) no-repeat center; background-size: 50px 50px;}

.site-store.site-android    { background: url(/assets/img/store/icon-android-64.png) no-repeat center; background-size: 196px 64px;}