---
layout: default
title: Products
slug: products
lead: "Over a dozen Products."
---

<div class="site-products">
  <h1 class="page-header">{{ page.lead }}</h1>
</div>

{% include tpl-card.html 
  title=site.products.unity3d.title 
  desc=site.products.unity3d.desc 
  img='/assets/img/products/unity3d_lib.jpg' 
  href='/tto' 
  content='<a class="btn btn-default" target="_blank" href="https://github.com/Atalantoo/unity3d-toolkit">View the GitHub project</a>' 
  %}

{% include tpl-card.html 
  title=site.products.chronoquiz.title 
  desc=site.products.chronoquiz.desc 
  img='/assets/img/products/workinprogress.jpg' 
  %}

{% include tpl-card.html 
  title=site.products.ci.title 
  desc=site.products.ci.desc 
  img='/assets/img/products/continuous_integration.png' 
  %}

{% include tpl-card.html 
  title=site.products.blast.title 
  desc=site.products.blast.desc 
  img='/assets/img/products/workinprogress.jpg' 
  %}
