---
layout: default
title: Products
slug: products
lead: "Over a dozen Products."
---

<ol  class="breadcrumb site-breadcrumb">
  <li><a href="{{ site.baseurl }}/">Home</a></li>
  <li class="active">{{ page.title }}</li>
</ol>

<div class="site-products">
  <h1 class="page-header">{{ page.lead }}</h1>

{% include tpl-card.html 
  title=site.products.unity3d.title 
  desc=site.products.unity3d.desc 
  img='/assets/img/products/unity3d_lib.jpg' 
  href='https://github.com/Atalantoo/unity3d-toolkit' 
  content='<a class="btn btn-default" href="https://github.com/Atalantoo/unity3d-toolkit">View the GitHub project</a>' 
%}

{% include tpl-card.html 
  title=site.products.chronoquiz.title 
  desc=site.products.chronoquiz.desc 
  img='/assets/img/products/workinprogress.jpg' 
  href='/products/chronoquiz' 
  content='<a class="btn btn-primary" href="/products/chronoquiz">More &gt;</a>'
%}

{% include tpl-card.html 
  title=site.products.dinoblast.title 
  desc=site.products.dinoblast.desc 
  img='/assets/img/products/workinprogress.jpg' 
  href='/products/dinoblast' 
  content='<a class="btn btn-primary" href="/products/dinoblast">More &gt;</a>'
%}

{% include tpl-card.html 
  title=site.products.museum.title 
  desc=site.products.museum.desc 
  img='/assets/img/products/workinprogress.jpg' 
  href='/products/museum' 
  content='<a class="btn btn-primary" href="/products/museum">More &gt;</a>'
%}

{% include tpl-card.html 
  title=site.products.ci.title 
  desc=site.products.ci.desc 
  img='/assets/img/products/continuous_integration.png' 
  href='https://github.com/CleanStackOrg/project-ci' 
  content='<a class="btn btn-default" href="https://github.com/CleanStackOrg/project-ci">View the GitHub project</a>' 
%}

</div>
