---
layout: default
title: Products
slug: products
lead: "Over a dozen Products."
---

<div class="site-products">
  <h1 class="page-header">{{ page.lead }}</h1>

{% include tpl-card.html 
  title=site.products.unity3d.title 
  desc=site.products.unity3d.desc 
  img='/assets/img/products/unity3d_lib.jpg' 
  href='https://github.com/Atalantoo/unity3d-toolkit' 
  content='<a class="btn btn-default" href="https://github.com/Atalantoo/unity3d-toolkit">View the GitHub project</a>' 
%}

{% include tpl-card.html 
  title=site.products.chronoquiz.title 
  desc=site.products.chronoquiz.desc 
  img='/assets/img/products/workinprogress.jpg' 
  href='/products/chronoquiz' 
  content='<a class="btn btn-primary" href="/products/chronoquiz">More &raquo;</a>'
%}

{% include tpl-card.html 
  title=site.products.dinoblast.title 
  desc=site.products.dinoblast.desc 
  img='/assets/img/products/workinprogress.jpg' 
  href='/products/dinoblast' 
  content='<a class="btn btn-primary" href="/products/dinoblast">More &raquo;</a>'
%}

{% include tpl-card.html 
  title=site.products.ci.title 
  desc=site.products.ci.desc 
  img='/assets/img/products/continuous_integration.png' 
  href='https://github.com/CleanStackOrg/project-ci' 
  content='<a class="btn btn-default" href="https://github.com/CleanStackOrg/project-ci">View the GitHub project</a>' 
%}

</div>
